<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Q1Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARm
	ZmZmg9HQ0D2DnZwcP4Ph4GA+AYY=
	</data>
	<key>Q2Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARm
	ZmZmg+blZT+DlJMTP4ONjIw+AYY=
	</data>
	<key>Q3Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARm
	ZmZmg8nISD8Ag/n4+D0Bhg==
	</data>
	<key>Q4Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARm
	ZmZmg9nY2D6DnZwcPoPn5uY+AYY=
	</data>
	<key>Q5Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARm
	ZmZmAIOioSE/g9nYWD8Bhg==
	</data>
	<key>Q6Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAAABAYY=
	</data>
	<key>Q7Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQABAYY=
	</data>
	<key>Q8Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQEAAYY=
	</data>
	<key>vertexRadius</key>
	<real>6</real>
	<key>vertexSpacing</key>
	<real>40</real>
	<key>edgeThickness</key>
	<real>2</real>
</dict>
</plist>
