<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edgeThickness</key>
	<real>2</real>
	<key>Q1Color</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARmZmZmg9HQ0D2DnZwcP4Ph4GA+AYY=</data>
	<key>Q2Color</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARmZmZmg+blZT+DlJMTP4ONjIw+AYY=</data>
	<key>Q3Color</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARmZmZmg8nISD8Ag/n4+D0Bhg==</data>
	<key>Q4Color</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARmZmZmg9nY2D6DnZwcPoPn5uY+AYY=</data>
	<key>Q5Color</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARmZmZmAIOioSE/g9nYWD8Bhg==</data>
	<key>Q6Color</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=</data>
	<key>Q7Color</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQABAYY=</data>
	<key>Q8Color</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEAAYY=</data>
	<key>vertexRadius</key>
	<real>6</real>
	<key>vertexSpacing</key>
	<real>40</real>
	<key>inspectorVisible</key>
	<true/>
</dict>
</plist>
